<div class="card rounded border-dark">
    <img [src]="product.image" class="card-img-top" alt="{{ product.title }}" />
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text mb-0" [class.expanded]="isDescriptionExpanded">{{ isDescriptionExpanded ? product.description : truncatedDescription }}</p>
      <button *ngIf="product.description?.length > 50" (click)="toggleDescription()" class="btn btn-link">
        {{ isDescriptionExpanded ? 'Read Less' : 'Read More' }}
      </button>
      <p class="card-text mt-2">
        <strong>Rating: </strong>{{ product.rating.rate }} / 5
      </p>
      <p class="card-text">
        <strong>Reviews: </strong>{{ product.rating.count }} reviews
      </p>
      <p class="card-text"><strong>${{ product.price }}</strong></p>
      <a (click)="openModal(product)" class="btn btn-primary" target="_blank">View Product</a>
    </div>
  </div>
  
  <app-product-description
  [product]="selectedProduct"
  [showModal]="showModal"
  (closeModal)="showModal = false"
></app-product-description>